# TODO: pin versions for these...
amqp
# anyjson
arrow
autopep8
bagit
celery
deepdiff
cffi
click
coreapi
coverage
cycler
# defusedexpat support of https://github.com/tiran/defusedexpat stops at python 3.4
defusedxml
Django==3.2
django-appconf
django-autocomplete-light
django-braces
django-compressor
django-contrib-comments
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-freshly
django-haystack
django-heartbeat
# django-inplaceedit
django-ipware
django-jsonfield
django-modeltranslation
django-nose
django-oauth-toolkit
django-robots
django-security
django-test-without-migrations
django-timedeltafield
django-widget-tweaks
djangorestframework
docker-py
dominate
DoubleMetaphone
drf-haystack
drf-yasg
ecdsa
filebrowser-safe
flake8
flex
flower
funcsigs
future
geojson
geopy
gevent
grappelli-safe
gunicorn
html5lib
inflection
django-inplaceedit
hsmodels
isodate
Jinja2
jsonpointer
jsonschema
kombu
lxml
Markdown
MarkupSafe
matplotlib
mccabe
Mezzanine
mock
nameparser
netCDF4
nose
nose-timer
numpy
oauthlib
OWSLib
paramiko
pbr
pep8
prettytable
probablepeople
psycopg2
ipaddress
pyasn1
pycodestyle
PyCRS
pyflakes
pylint
pyproj
pysolr
# pysqlite3
pytest-cov
pytest-django
python-crfsuite
python-dateutil
python-irodsclient
pytz
PyYAML
rcssmin
rdflib
redis
requests
rfc3987
robot-detection
selenium
six
sorl-thumbnail
# suds-jurko
timeago
uritemplate
virtualenv
xmltodict