# narrowed down using https://github.com/bndr/pipreqs
# following 5 were recommended by pipreqs but weren't in our pip freeze from hs container
# gdal==3.5.2
# osgeo==0.0.1
# osr==0.0.1
# Pillow==9.2.0
# recommonmark
# then INSTALLED_APPS were added manually
arrow==0.7.0
celery==4.4.0
deepdiff==1.7.0
# defusedexpat
defusedxml==0.7.1
Django==3.2.15
django-autocomplete-light==2.3.6
django-contrib-comments==2.2.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-haystack==3.1.1
django-heartbeat==2.0.2
django-nose==1.4.5
django-oauth-toolkit==2.1.0
django-robots==4.0
django-security==0.12.0
django-test-without-migrations==0.6
django-widget-tweaks==1.4.1
djangorestframework==3.13.1
dominate==2.4.0
drf-yasg==1.20.0
future==0.16.0
django-heartbeat==2.0.2
hsmodels==0.5.3
jsonschema==2.6.0
kombu==4.6.7
lxml==4.4.0
Markdown==3.0.1
Mezzanine==5.1.4
nameparser==0.5.7
netCDF4==1.5.1.2
numpy==1.16.* # also included in dockerfile (order matters)
paramiko==2.4.2
probablepeople==0.5.4
PyCRS==1.0.1
pydantic # pydantic seemed to be missing
pyproj
python-dateutil==2.8.*
pytz==2021.*
rdflib==5.0.0
requests==2.27.1
robot-detection==0.4
six==1.16.0
sorl-thumbnail==12.8.0
timeago==1.0.10
xmltodict==0.10.2